.container{
    
	width: 100%;
	margin: 0 auto;
	position: relative;
	height: 90vh;
    min-height: 20rem;
    max-width: $max-width;
    border-radius: 1rem;
    padding: 2rem;
    perspective: 250rem;
    opacity: 0;
    transform: rotate(-20deg);
    animation: show-up 2s forwards; 
    @media only screen and (max-width: $bp-small){
        width: 200%;
        
    }
}
