/* COLOR VARIABLES */

$color-primary:#ffbc00;
$color-primary-shadow: #41a66b;
$color-bg: #333333;
$color-cover: #2c3e50;
$color-gray: #7a7a7b;
///
$color-header: #8BCB46;

// Icons colors
$html-color: #FE490B;
$css-color: #0373B8;
$js-color: #FBDE24;
$php-color: #627BBF;
$sass-color: #C7568B;
$react-color: #5EDCF7;
$transition-speed: 0.3s;

// /Icons colors


$color-light-1: white;
$color-light-secondary: #eee;
$color-dark: #000;
$color-footer: #333333;

$color-secondary-light: #EA4436;
$color-secondary-dark: #cf3c30;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;



$default-font-size: 1.6rem;

$transition-speed: 0.2s;

$skewY-primary: skewY(-5deg);
$skewY-primary-opposite: skewY(5deg);
$color-secondary:#66CCFF;
$color-secondary:#3D8A4F;
$color-tertiary: #E0BE95;
$color-forth: #8FD317;
$color-five: #4BA1ED;
$color-error: #EA4436;
$color-grey-light-1: #F4F2F2;
$color-grey-light-2: #aaa;

$color-light-1:#F6FCFF;
$color-dark-1:  #43484D;;
$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
$color-sell: #F26065;
$color-1: #E8DEC9;

/* header */
$header-bg: #87509c;
$nav-link-bg: #643a79;
$nav-height: 8.9rem;



$btn-primary-bg: #eb7d4b;
/* /COLOR VARIABLES */

/* FONT VARIABLES */


$font-primary:  'Caveat', cursive, sans-serif;

/* /FONT VARIABLES */

/* Default font size */

$default-font-size: 16px;

/* /Default font size */

/* Container max-width */

$max-width: 130rem;

/* Body min-width */

$min-width: 20rem;    // 320px;

/* /Body min-width */

/* /Container max-width */

/* RESPONSIVE BREAKPOINTS (width) */

$bp-largest: 75em;   // 1200px;
$bp-large: 62.5em;   // 1000px;
$bp-medium: 48em;    // 768px;
$bp-small: 37.5em;    // 600px;
$bp-extra-small: 21em;    // 336px;

/* /RESPONSIVE BREAKPOINTS (width) */

/* RESPONSIVE BREAKPOINTS (height) */

$bp-height-normal: 37.5em;   // 600px;

/* /RESPONSIVE BREAKPOINTS (height) */


/* Transition speed */

$transition-speed: 0.3s;
$transition-speed-nav: 0.4s;

/* /Transition speed */



